.skills-container {
    width: 100%;
    /* border: 1px solid white; */
    /* margin-bottom: 50px; */
}
.skills {
    display: flex;
    justify-content: space-evenly;
}
.box {
    display: flex;
    flex-direction: column;
    width: 120px;
    align-items: center;
    padding-top: 10px;
}
.box:hover {
    transform: scale(1.05);
    transition: all 0.3s linear;
}
.skill-logo {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #32E0C4;
}
.skill-logo span {
    position: relative;
    top: 3px;
    font-size: 2rem;
    color: #222831;
}
.skill-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;

}
.skill-name span {
    font-size: 1.2rem;
    color: #EEEEEE;
}
@media (max-width: 950px) {
    .box {
        width: 100px;
        /* border: 1px solid white; */
    }
    .skill-logo {
        width: 50px;
        height: 50px;
    }
    .skill-logo span {
        font-size: 1.7rem;
    }
    .skill-name span {
        font-size: 1rem;
    }
}
@media (max-width: 877px) {
    .box {
        margin: 0 20px;
    }
}
@media (max-width: 769px) {
    .skills-container {
        width: 100%;
        margin-bottom: 50px;
    }
    .skills {
        flex-wrap: wrap;
        /* border: 1px solid white; */
    }
}
@media (max-width: 527px) {
    .skills-container {
        margin-bottom: 80px;
    }
}
@media (max-width: 426px) {
    .skill-logo {
        width: 45px;
        height: 45px;
    }
    .skill-logo span {
        font-size: 1.5rem;
    }
    .skill-name span {
        font-size: 0.9rem;
    }
}
@media (max-width: 321px) {
    .box {
        margin: 0 5px;
    }
    .skill-logo {
        width: 35px;
        height: 35px;
    }
    .skill-logo span {
        font-size: 1rem;
    }
    .skill-name span {
        font-size: 0.9rem;
    }
}