.skills-container {
    width: 100%;
}
.skills {
    display: flex;
    justify-content: space-evenly;
}
.box {
    display: flex;
    flex-direction: column;
    width: 120px;
    align-items: center;
    padding-top: 10px;
}
.box:hover {
    /* box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.75); */
    transform: scale(1.1);
    transition: all 0.3s linear;
}
.skill-logo {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #32E0C4;
}
.skill-logo span {
    position: relative;
    top: 3px;
    font-size: 2rem;
    color: #222831;
}
.skill-name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;

}
.skill-name span {
    font-size: 1.2rem;
    color: #EEEEEE;
}
